<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078413260395-skg6ptdi7iafcphje28lit61d3n14l3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078413260395-skg6ptdi7iafcphje28lit61d3n14l3f</string>
	<key>API_KEY</key>
	<string>AIzaSyCQqYro6RLOSi1zBVIf-VntsSZpv0Rr91c</string>
	<key>GCM_SENDER_ID</key>
	<string>1078413260395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smodi.PasswordManager</string>
	<key>PROJECT_ID</key>
	<string>myapp-494ee</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-494ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078413260395:ios:3d603f186efcc36833a32e</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-494ee.firebaseio.com</string>
</dict>
</plist>